<div class="text-center">
<h1>ユーザ編集</h1>

<%= form_for(@user) do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
  
    <%= f.label :email %>
    <%= f.email_field :email %>
  
    <%= f.label :password, "パスワード" %>
    <%= f.password_field :password %>
  
    <%= f.label :password_confirmation, "パスワード(確認用)" %>
    <%= f.password_field :password_confirmation %>
  
    <%= f.submit "保存", class: "btn-secondary" %>
<% end %>
</div>