<div class="container">
  <h2>ユーザ情報</h2>
  
  <div class="text-center">
    <p><strong>Name:</strong><%= @user.name %></p>
    <p><strong>Email:</strong><%= @user.email %></p>

    <% if current_user.routes.exists? %>
      <strong><投稿したルート一覧></strong>
      <div class="text-center">
        <div class="container w-50">
          <ul class="list-group list-group-flush">
            <% @routes.each do |r| %>
              <li class="list-group-item">
                <%= link_to r.name, r %>
                <%= r.start %>から
              </li>
            <% end %>
          </ul>
        </div>
      </div>
      
      <div class="pagination justify-content-center">
        <%= will_paginate @routes, previous_label: '&lt', next_label: '&gt' %>
      </div>
    <% end %>
    
    <div class="text-end">
      <%= button_to "ユーザ情報を編集する", edit_user_path, method: :get, class: "btn btn-secondary" %><br>
      <%= button_to "ユーザを削除する", current_user, method: :delete, class: "btn btn-warning", data: { confirm: '削除してもよろしいですか?'} %>
    </div>
  </div>
</div>