<div class="text-center">
<h1>ルートを作成</h1>
<%= form_for(@route) do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
  
    <%= f.label :content0, "ルート1" %>
    <%= f.text_area :content0 %>
    <%= f.file_field :images, multiple: true %>

    <%= f.label :content1, "ルート2" %>
    <%= f.text_area :content1 %>
    <%= f.file_field :images, multiple: true %>

    <%= f.label :content2, "ルート3" %>
    <%= f.text_area :content2 %>
    <%= f.file_field :images, multiple: true %>

    <%= f.label :content3, "ルート4" %>
    <%= f.text_area :content3 %>
    <%= f.file_field :images, multiple: true %>

    <%= f.label :content4, "ルート5" %>
    <%= f.text_area :content4 %>
    <%= f.file_field :images, multiple: true %>

    <%= f.label :content5, "ルート6" %>
    <%= f.text_area :content5 %>
    <%= f.file_field :images, multiple: true %>

    <%= f.label :content6, "ルート7" %>
    <%= f.text_area :content6 %>
    <%= f.file_field :images, multiple: true %>

    <%= f.label :content7, "ルート8" %>
    <%= f.text_area :content7 %>
    <%= f.file_field :images, multiple: true %>

    <%= f.label :content8, "ルート9" %>
    <%= f.text_area :content8 %>
    <%= f.file_field :images, multiple: true %>

    <%= f.label :content9, "ルート10" %>
    <%= f.text_area :content9 %>
    <%= f.file_field :images, multiple: true %>

    <%= f.submit "作成", class: "btn btn-secondary" %>
<% end %>
</div>