<div class="text-center">
  <h2><%= @route.name %></h2>
  <div class="border rounded-pill p-3" style="display:inline-block;">出発地点：<%= @route.start %></div>
</div>

<div class="container w-25">
  <div class="row">
    <%= @route.content0 %>
    <% unless @route.images[0].nil? %>
    <%= image_tag @route.images[0] %>
    <% end %>
  </div>
</div>

<div class="container w-50">
  <div class="row">
  
    <%= safe_join(@route.content1.split("\n"),tag(:br)) %>
    <% unless @route.images[1].nil? %>
    <%= image_tag @route.images[1] %>
    <% end %>
  
    <%= safe_join(@route.content2.split("\n"),tag(:br)) %>
    <% unless @route.images[2].nil? %>
    <%= image_tag @route.images[2] %>
    <% end %>
  
    <%= safe_join(@route.content3.split("\n"),tag(:br)) %>
    <% unless @route.images[3].nil? %>
    <%= image_tag @route.images[3] %>
    <% end %>
  
    <%= safe_join(@route.content4.split("\n"),tag(:br)) %>
    <% unless @route.images[4].nil? %>
    <%= image_tag @route.images[4] %>
    <% end %>
  
    <%= safe_join(@route.content5.split("\n"),tag(:br)) %>
    <% unless @route.images[5].nil? %>
    <%= image_tag @route.images[5] %>
    <% end %>
  
    <%= safe_join(@route.content6.split("\n"),tag(:br)) %>
    <% unless @route.images[6].nil? %>
    <%= image_tag @route.images[6] %>
    <% end %>
  
    <%= safe_join(@route.content7.split("\n"),tag(:br)) %>
    <% unless @route.images[7].nil? %>
    <%= image_tag @route.images[7] %>
    <% end %>
  
    <%= safe_join(@route.content8.split("\n"),tag(:br)) %>
    <% unless @route.images[8].nil? %>
    <%= image_tag @route.images[8] %>
    <% end %>
  
    <%= safe_join(@route.content9.split("\n"),tag(:br)) %>
    <% unless @route.images[9].nil? %>
    <%= image_tag @route.images[9] %>
    <% end %>
  </div>
</div>
<div class="text-end">
  <p>作成者：<%= @route.user.name %></p>
  <% if route_make_user? %>
  <%= link_to 'ルートを削除する', @route, method: :delete, data: { confirm: '削除してよろしいですか？' } %>
  <% end %>
</div>