<h2 class="text-center">【最短】雨の日に便利！地下通路を通ってHEPへ</h2>
<div class="text-center">出発地点：JR大阪駅(御堂筋口)</div>

<div class="container w-50">
  <div class="row">
    <%= image_tag "IMG_0001.jpg" %>
    <p>改札を出たら、すぐ正面(やや斜め右)の、地下へのエスカレーターを降ります</p>
    <%= image_tag "IMG_0002.jpg" %>
    <p>エスカレーターを降りたら、左に曲がります</p>
    <p>あとはそのまま、ひたすらまっすぐです</p>
    <%= image_tag "IMG_0003.jpg" %>
    <p>(途中、阪急百貨店の入口前を通り過ぎます)</p>
    <%= image_tag "IMG_0004.jpg" %>
    <%= image_tag "IMG_0005.jpg" %>
    <%= image_tag "IMG_0006.jpg" %>
    <p>到着です！</p>
    <%= image_tag "IMG_0007.jpg" %>
  </div>
</div>