<%= render 'layouts/navbar' %>

<h2 class="text-center">【最短】雨の日に便利！地下通路を通ってHEPへ　～JR大阪駅(御堂筋口)から～</h2>
<div class="container w-50">
  <div class="row">
    <%= image_tag "IMG_0001.jpg" %>
    <p>改札を出たら、すぐ正面(やや斜め右)の、地下へのエスカレーターを降ります</p>
    <%= image_tag "IMG_0002.jpg" %>
    <p>エスカレーターを降りたら、左に曲がります</p>
    <p>あとはそのまま、ひたすらまっすぐです</p>
    <%= image_tag "IMG_0003.jpg" %>
    <p></p>
    <p></p>
    <p></p>
  </div>
</div>

<%= render 'layouts/footer' %>