<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="/">chika route</a>
      
  <ul class="nav justify-content-end">

    <li>
    <%= form_with url: routes_search_path, method: :get, local: true do |f| %>
      <div class="d-flex">
      <%= f.text_field :keyword, value: $keyword, class: "form-control me-2", placeholder: "ç›®çš„åœ°ã‚’æ¤œç´¢" %>
      <%= f.submit "ðŸ”", class: "btn btn-outline-secondary" %>
      </div>
    <% end %>
    </li>

    <% if logged_in? %>
    <li class="nav-item">
      <%= link_to "ãƒžã‚¤ãƒšãƒ¼ã‚¸", user_path(current_user), class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "ãƒ­ã‚°ã‚¢ã‚¦ãƒˆ", logout_path, method: :delete, class: "nav-link" %>
    </li>

    <% else %>
    <li class="nav-item">
      <%= link_to "ãƒ¦ãƒ¼ã‚¶ç™»éŒ²", new_user_path, class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "ãƒ­ã‚°ã‚¤ãƒ³", login_path, class: "nav-link" %>
    </li>
    <% end %>
        
  </ul>
</nav>  
<aside class="text-end">
  <%= link_to "ãƒ«ãƒ¼ãƒˆã‚’ä½œæˆ", new_route_path, class: "btn btn-outline-success" %>
</aside>